@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ST10434048_BookingSystem.Models.Entities.Booking>
<h1>Bookings</h1>
<table class="table">
	<thead>
		<tr>
			<th>Booking ID</th>
			<th>Venue</th>
			<th>Event</th>
			<th>Booking Date</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var booking in Model)
		{
			<tr>
				<td>@booking.BookingId</td>
				<td>@booking.Venue?.VenueName</td>
				<td>@booking.Event?.EventName</td>
				<td>@booking.BookingDate.ToString("M-d-yyyy")</td>
				<td>
					<a class="btn btn-primary" asp-controller="Bookings" asp-action="EditBooking" asp-route-id="@booking.BookingId">Edit</a> 
					</td>
			</tr>
		}
	</tbody>
</table>
